{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'),'attr':{ 'novalidate': 'novalidate', 'data-abide': null, 'class': 'text-center', 'id': 'changePassword'}}) }}
    {{ form_widget(form) }}
    <div class="columns large-12 text-center">
        <button class="button third" type="submit">{{ 'VALIDER' }}</button>
    </div>
{{ form_end(form) }}