{% extends "@FOSUser/layout.html.twig" %}
{% block title %}
    Vérification de votre adresse email
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
