
{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
<body class="body-landing-a">
<div id="header-landing">
    <div class="logo-slogan columns">
        <div class="logo-landing medium-3 small-6 columns">
            <a href="{{ path('homepage') }}">
                <img height="250" width="250" src="{{ asset('images/svg/Logo NAO.png') }}" alt="NAO" />
            </a>
        </div>
        <div class="medium-8 columns left slogan small-6">
            <h1>JE VOIS</h1>
            <h1>JE SIGNALE</h1>
            <h1>JE PROTEGE !</h1>
        </div>
    </div>
</div>
<div class="content-landing">
    <div class="columns panel-program">
        <div class="panel callout radius medium-5 text-center">
            <p>Un programme de science participative pour la préservation des oiseaux et de la biodiversité</p>
        </div>
    </div>
    {% block fos_user_content %}
        <div class="row medium-5 medium-offset-0 grid-margin-x">
            {% include ":modules:register_content_landing.html.twig" %}
        </div>
    {% endblock fos_user_content %}

    <div id="accedez-rapports" class="hide-for-small-only">
        <p>ACCÉDEZ À L'INTEGRALITÉ DE NOS RAPPORTS SCIENTIFIQUES</p>
    </div>
</div>

<footer class="small-12 text-center footer-landing">
    <h3 class="small-8 row">CHAQUE OBSERVATION EST ANALYSÉE PAR DES PROFESSIONNELLS</h3>
    <a href="http://www.mnhn.fr/fr" target="_blank"><img class="medium-2 small-5" src="{{ asset('images/png/logomnhn.png') }}" alt=""></a>
</footer>

{% endblock %}

