{% extends '::base.html.twig' %}
{% block title %}
    Carte des observations
{% endblock %}
{% block body %}
    <div class="row large-6" id="recherche_carte">
        <div class="large-12 colums">
        <h3>Sélectionnez l'espèce recherchée</h3>

        <select id="appbundle_observation_specy" name="appbundle_observation[specy]" class="js-example-basic-single observationMap" data-url="{{ path('app_observation_map') }}">
            <option value="" disabled selected>Cliquez pour rechercher ou sélectionner</option>
            {% for specy in speciesWithObservations %}
                <option value="{{ specy.cdNom }}">{{ specy.nomVern }}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <div class="large-6 row">
        <h3>Zones où l'espèce a été aperçue</h3>
        <div id="map" style="margin-bottom: 100px;">
            {{ include(':modules:map.html.twig') }}
        </div>
    </div>

    {% if list is defined %}
        salut
    {% endif %}
{% endblock %}