{% extends '::base.html.twig' %}

{% block body %}
    <div class="text-center callout ccf">
        <h1>LES DERNIÈRES OBSERVATIONS</h1>
    </div>

    <div class="row small-up-12 medium-up-4" data-equalizer data-equalize-on="medium">
        {% for bird in list %}
            <div class="columns">
                <div class="card">
                    <a href="{{ path('app_observation', {'id' :  bird.id}) }}">
                        <div class="img-card" data-equalizer-watch style="max-height: 200px; overflow: hidden;">
                            <img src="{{ asset('img/' ~ bird.image.url) }}" style="width: 100%">
                        </div>
                        <div class="card-section">
                            <p>{{ bird.specy.nomVern }}</p>
                        </div>
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
