{% for message in app.session.flashbag.get('errors') %}
    <div class="row small-8">
        <div class="callout row message-flash">
            <div><img width="30" src="{{ asset('images/png/echec.png') }}" alt=""></div><p>{{ message|trans }}</p>
        </div>
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('success') %}
    <div class="row small-8">
        <div class="callout row message-flash">
            <div><img width="30" src="{{ asset('images/png/ok.png') }}" alt=""></div><p>{{ message|trans }}</p>
        </div>
    </div>
{% endfor %}



