{% block footer %}
    <footer class="footer">
        <div class="callout text-center socialLinks">
            <a href="https://twitter.com/naodujardin" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.facebook.com/Nos-amis-les-oiseaux-1724481754517162/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://plus.google.com/u/0/114909314086156892767" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            <a href="https://fr.pinterest.com/naodujardin/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <p>EN PARTENARIAT AVEC</p>
                <a href="https://www.mnhn.fr" target="_blank"><img height="150" width="150" src="{{ asset('images/png/LogoMNHN.png') }}" alt="Muséum national d'Histoire naturelle" /></a>
            </div>
            <div class="small-6 columns text-center linksFooter">
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                <li><a href="">Conditions générales d'utilisation</a></li>
                <li><a href="">Crédits</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="{{ path('app_plan_site') }}">Plan du site</a></li>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns text-center">
                Copyright © Nos Amis les Oiseaux 2017
            </div>
        </div>
    </footer>
{% endblock %}