<h5>Les autres observations de cette espèce</h5>
<table class="table-dernieres-observations">
    <tbody>
    {% for observation in observations %}
        {% if loop.index > 1 %}
            <tr>
                <td>
                    {% if observation.user != null %} {{ observation.user.username }} {% else %}Inconnu{% endif %}
                </td>
                <td>
                    {{ observation.createdAt|date('d-m-Y') }}
                </td>
                <td>
                    <a href="{{ path('app_observation', {'id' : observation.id}) }}">Voir</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
